<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Gästebuch</title>
    </head>
    <body>
        <h1>Gästebuch</h1>
            <p>Liebe Gäste, wir freuen uns, dass Sie sich für unser Haus entschieden haben. Bitte hinterlassen Sie uns einen Kommentar, wir sind stets bemüht, uns weiterzuentwickeln</p>
        <form method="Post" action="/Eingabe">
            <input name="Name">Name</br></br>
            <input email="Email">E-Mail-Adresse</br></br>
            <input  text="Kommentar">Kommentar</br></br>
            <button type="submit">Abschicken</button>
        </form>

    </body>

</html>